.app-container {
    display: flex;
    height: 100vh;
}

.start-chat-container {
    flex: 1;
    border-right: 1px solid #ddd;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.chat-container {
    flex: 2;
    background-color: #fff;
    overflow-y: auto;
}
